[Desktop Entry]
Type=Application
Version=1.0
Name=Install Kitest OS
Comment=Run the archinstall TUI in Konsole
Exec=konsole -e archinstall
TryExec=/usr/bin/archinstall
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=System;Installer;
Keywords=Install;archinstall;Kitest;
